apiVersion: apps/v1
kind: Deployment
metadata:
  name: forecast-api
  namespace: mlops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: forecast-api
  template:
    metadata:
      labels:
        app: forecast-api
    spec:
      containers:
        - name: forecast-api
          image: mbashish/forecastservice:v3
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: mlflow-config
      #     volumeMounts:
      #       - name: mlflow-artifacts
      #         mountPath: /mlruns
      #         readOnly: false
      # volumes:
      #   - name: mlflow-artifacts
      #     hostPath:
      #       path: /mlruns
      #       type: Directory